
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      match /logs/{logId} {
        allow read, write: if request.auth.uid == userId;
      }
    }
    
    match /worldStages/{stageId} {
      // Allow all authenticated users to read and write for the developer preview
      allow read, write: if isSignedIn();
    }
  }
}
